body {
  background-color: #202124;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: auto;
}

a {
  color: #bdc1c6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

button {
  color: #e8eaed;
  box-shadow: 0 1px 3px rgb(23 23 23 / 24%);
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 4px;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}
button:hover {
  border: 1px solid #5f6368;
}

p {
  color: #bdc1c6;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.header {
  display: flex;
  align-items: center;
  padding: 6px;
  height: 60px;
  justify-content: space-between;
  flex-shrink: 0;
}

.logo {
  display: flex;
  min-height: 92px;
  flex-direction: column;
  align-items: center;
  max-height: 290px;
  height: calc(100% - 560px);
  flex-shrink: 0;
}

.search {
  max-height: 160px;
  padding: 20px;
  flex-shrink: 0;
  position: relative;
  margin: 0 auto;
  padding-top: 6px;
  width: auto;
  max-width: 584px;
}

.lang-option {
  text-align: center;
  flex-shrink: 0;
  flex-grow: 1;
}

.francais {
  color: #8ab4f8;
}

.footer {
  background: #171717;
  display: block;
  flex-shrink: 0;
}

.footer-top {
  border-bottom: 1px solid #212327;
  padding: 15px 30px;
  font-size: 15px;
}

.footer-top p {
  color: rgba(255, 255, 255, 0.54);
}

.footer-bottom {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-bottom a {
  padding: 15px;
  display: inline;
  white-space: nowrap;
  color: #999da2;
}
